* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;    
    
}

.mySection{
    width: 100vw;
    height: 100vh;
    /* padding: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../public/img/Second.jpeg') center center/cover;
}

